@import "../../scss/mixins";
.ProductsArea{
    margin: rem(64) 0;
    @include flc($al: flex-start);
    justify-content: space-between;
    .ProductsArea__Title{
        display: none
    }
    
}
.Cards{
    @include flc();
    flex-wrap: wrap;
        justify-content: center;
}

@media (max-width: 580px){
    .ProductsArea{
        @include flexcolumn();
        .ProductsArea__Title{
            display: flex;
            margin: 0 0 rem(20) rem(10);
        }
    }
}