@import "../../scss/mixins";
@import "../../scss/variables";

.RecepArea {
  @include flc();
  .RecepCard {
    @include flexcolumn();
    justify-content: space-between;
    width: 21.823vw;
    height: rem(280);
    background: url(../../img/BGRecepies.svg);
    margin-left: rem(32);

    .banner {
      margin: rem(48) 0 0 rem(33);
      font-family: $FFPopSB;

      div {
        font-size: rem(12);
        line-height: rem(18);
        color: $colorGreen;
      }

      h1 {
        margin-top: rem(8);
        font-size: rem(22);
        line-height: rem(33);
        color: $colorBlack;
      }
    }
    .RecepiesBtn {
      @include flc();
      justify-content: center;
      text-align: center;
      border-radius: rem(12);
      font-family: $FFPopB;
      font-size: rem(15);
      line-height: rem(22);
      width: 8.282vw;
      height: rem(43);
      border: 2px solid $colorGreenBorder;
      cursor: pointer;
      margin: rem(32);
      

      img {
        margin-left: rem(6);
      }
    }
  }
}

// @media (max-width: 1600px){
//   .RecepArea {
//     @include flexcolumn();
//   }

// }
@media (max-width: 1600px){
  .RecepArea{
    @include flexcolumn();
    .RecepCard {
      margin-bottom: rem(30);
      width: 50vw;  
      margin-right: rem(16);
      .RecepiesBtn{
        min-width: 20vw;
      }
}
  }
   
}

