@import "../../scss/mixins";
@import "../../scss/variables";

.Card{
    @include flexcolumn;
    margin-left: rem(32);
    margin-bottom: rem(48);
    border-radius: rem(12);
    border: 1px solid $colorGreyBorder;
    padding: rem(15);
    align-self: flex-start;
    img{
        max-width: 12.344vw;
        height: rem(180);
        margin: 0 auto;
        position: relative;
        border-radius: rem(12);
    }
    .Discount{
        position: absolute;
        margin: rem(12) rem(12);
        padding: 0 rem(8);
        font-family: $FFPopSB;
        font-size: rem(12);
        line-height: rem(18);
        color: $colorGreen;
        background-color: $colorGreenBack;
        border-radius: rem(12);
    }
    h2{
        margin: rem(16) 0 rem(4) 0;
        font-family: $FFPopM;
        font-size: rem(15);
        line-height: rem(22);
    }
    h3{
        
        width: 20vh;
        font-family: $FFOpenSans;
        color: $colorGrey2;
        margin-bottom: rem(16);
        font-size: rem(12);
        line-height: rem(16);
    }
    .PriceAndButton{
        @include flc();
        justify-content: space-between;
        
        .Prices{
            @include flexcolumn();
            font-family: $FFPopSB;
            div:first-child{
                font-size: rem(18);
                line-height: rem(27);
            }
            .OldPrice{
                font-size: rem(12);
                line-height: rem(18);
                color: $colorGrey1;
                text-decoration: line-through;
            }

        }

        .BuyBtn{
            width: 4.4795vw;
            padding: rem(5) 0;
            text-align: center;  
            font-family: $FFPopB;
            font-size: rem(15);
            line-height: rem(22);
            background-color: $colorGreen;
            border-radius: rem(12);
            border: 2px solid $colorGreenBorderBuy;
            color: $colorWhite;
            cursor: pointer;
            &:active{
                background-color: $colorGreyBorder;
                border-color: $colorGreyBorder;
            }
            
        }
    }
    
}

@media (max-width: 1730px){
    .Card img {
        max-width: 14vw;
    }
  }
@media (max-width: 1540px){
    .Card img {
        max-width: 16vw;
    }
}
@media (max-width: 1335px){
    .Card img {
        max-width: 20vw;
    }
}
@media (max-width: 1070px){
    .Card img {
        max-width: 22vw;
    }
}
