@import "../../scss/mixins";
@import "../../scss/variables";

.HeadLineCards{
    @include flc();
    flex-wrap: wrap;
    justify-content: center;
    div:first-child{
        margin-left: 0;
    }
}

@media (max-width: 1715px){
    .HeadLineCards div:last-child{
        margin-left: 0;    
    } 
}
@media (max-width: 1213px){
    .HeadLineCards div{
        &:nth-child(3){
            margin-left: 0;
        }
        &:last-child{
            margin-left: rem(30);  
        }
          
    } 
}
@media (max-width: 745px){
    .HeadLineCards div  {
        margin-left: 0;   
        &:last-child{
            margin-left: 0;  
        }
    } 
}
