@import "../../scss/mixins";
@import "../../scss/variables";

.ProductTags {
  margin-top: rem(48);
  h1 {
    font-family: $FFPopSB;
    font-size: rem(18);
    line-height: rem(27);
    color: $colorBlack;
  }
  .TagsRow {
    @include flc();
    flex-wrap: wrap;
    .tags {
      padding: rem(4) rem(10);
      margin: rem(16) rem(16) 0 0;
      font-family: $FFPopSB;
      font-size: rem(12);
      line-height: rem(18);
      border-radius: rem(12);
      color: $colorBlack;
      background-color: $colorGreyBtn;
      cursor: pointer;
    }
  }
}
.LastFooter {
  margin: rem(48) 0;
  font-family: $FFOpenSans;
  font-size: rem(14);
  line-height: rem(19);
  color: $colorBlack;
}
