// Fonts
$FFOpenSans: "OpenSans-Regular";
$FFPopM: "Poppins-Medium";
$FFPopSB: "Poppins-SemiBold";
$FFPopB: "Poppins-Bold";    

// Colors
$colorBlack: rgba(21, 21, 21, 1);
$colorBlackL: rgba(21, 21, 21, .05);
$colorWhite: rgba(255, 255, 255, 1);
$colorGreen: rgba(106, 152, 60, 1);
$colorGreenBack: rgba(244, 248, 236, 1);
$colorGreenBorder: rgba(146, 192, 100, 1);
$colorGreenBorderBuy: rgba(70, 118, 10, 1);
$colorGrey1: rgba(169, 169, 169, 1);
$colorGrey2: rgba(87, 87, 87, 1);
$colorGreyBtn: rgba(245, 245, 245, 1);
$colorGreyBack: rgba(249, 249, 249, 1);
$colorGreyBack2: rgba(235, 235, 235, 1);
$colorGreyBorder: rgba(209, 209, 209, 1);
$colorGreyBorder2: rgba(241, 241, 241, 1);
$colorOrange: rgba(229, 112, 75, 1);